.contato-container {
    padding: 20px;
    background-color: #001f3f;
    color: white;
  }

  .contato-divider {
    background-color: white;
    margin: 16px 0;
  }
  
  .contato-row {
    font-size: 18px;
  }
  
  .contato-col {
    display: flex;
    align-items: center;
  }
  
  .contato-icon {
    font-size: 24px;
    margin-right: 8px;
    color: white;
  }
  
  .contato-link {
    color: white;
    text-decoration: none;
  }
  
  .contato-link:hover {
    text-decoration: underline;
  }